@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

:root {
    --blue: #4dabf7;
    
  }
  

body{
font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid grey;
    border-radius: 10px;
    background-color: white;
    z-index: 1;

}

#burger{
    display: none;
}

ul{
    display: flex;
    gap: 20px;
    margin:1rem;
    
}

li{
    list-style: none;
    
}

nav a{
    text-decoration: none;
    color: inherit;
    position: relative;
}

nav a:hover{
    color: var(--blue);
    transition: all 0.1s ease-in-out;
}

nav a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  border-radius: 5px;
  background-color: var(--blue);
  width: 0%;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

/* .menu-responsive ul li a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    border-radius: 5px;
    background-color: var(--blue);
    width: 0%;
    height: 3px;
    transition: all 0.3s ease-in-out;
  } */

a:hover::after{
    width: 100%;
}

.menu-responsive{
    display: none;
   
}

#logo{
    margin:1rem;
}

section h1{
    padding: 5px;
    border: 3px dashed grey;
    box-shadow: 0.5rem 0.5rem 0rem var(--blue);
}


section{
    display: flex;
    flex-direction: column;  
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-bottom: 40px;
    border-bottom: 3px dashed grey;
    /* border-radius: 10px; */
}

/* about section */


/* #about{
    display: flex;
    flex-direction: column;  
    align-items: center;
    width: 100%;
    height: fit-content;
    padding-bottom: 40px;
    border-bottom: 3px dashed grey;
    border-radius: 10px;
   

} */

#left-text{
    
    width: 300px;
    border: 3px dashed grey;
    padding: 40px;

    

}

.right div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 20px;
}

#left-text:hover::after{
    content: 'sorry, im a man of few words';
    color: var(--blue);
}


.about-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.left{
    display: flex;
    flex-direction: column;
    display: flex;
    margin-top: 30px;
    align-items: center;
    gap: 2rem;
}

#about button{
    margin: 30px;
    padding: 1rem;
    height: fit-content;
    width: fit-content;
    border: none;
    font-family: inherit;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
    box-shadow: 0.5rem 0.5rem 0rem var(--blue);

}
#about button:hover{
    cursor: pointer;
   background-color: var(--blue);
   color: white;
   box-shadow: 0.5rem 0.5rem 0rem grey;

}


.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
   
}

.right h3{
    height: fit-content;
    
    border: 3px dashed grey;
    padding: 10px;

}

.right h3:hover::after{
    content: 'for now...';
    color: var(--blue);
}

.right img{
    height: 70px;
    width: auto;
}

/* my projects section*/

.projects-list {
    display: flex;
    justify-content: center;

    flex-wrap: wrap;
    gap: 20px;

}

.project{
    position: relative;
    height: 200px;
    width: 400px;
    border: 3px dashed grey;
    color: white;
}

.project img {
    height: 100%;
    width: 100%;
}

.info{
    position: absolute;
    bottom:0;
    height: 0%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.452);
    transition: all 0.3s ease-in-out;
    overflow: hidden;


}


.project:hover .info{
    height: 40%;
    width: 100%;
 
 }

.info p{
    margin: 5px;
}

.info span{
   margin: 5px;
    font-size: 0.8rem;
}



/* contact */

form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 3px dashed grey;
    box-shadow: 0.5rem 0.5rem 0rem var(--blue);
    width: fit-content;

}

input{
    height: fit-content;
    width: 20rem;
    font-family: inherit;
    font-size: inherit;
}

#input-text{
   width: 20rem;
    height: 6rem;
    font-size: inherit;
    font-family: inherit;
    
}



label{
    margin-top: 10px;
}

form button{
    margin: 30px;
    padding: 0.5rem;
    height: fit-content;
    width: fit-content;
    border: none;
    font-family: inherit;
    font-size: 1rem;
    transition: all 0.2s ease-in-out;
    box-shadow: 0.5rem 0.5rem 0rem var(--blue);
}

form button:hover{
    cursor: pointer;
    background-color: var(--blue);
    color: white;
    box-shadow: 0.5rem 0.5rem 0rem grey;
}

/* footer */
 

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    border-bottom: 3px solid grey;
    background-color: var(--blue);
    color: black;
    border-radius: 0px 0px 10px 10px;


}

footer div{
    display: flex;
    
    padding-left: 10px;
    gap: 20px;
    align-items: center;
}



i:hover{
    color: grey ;
}

@media screen and (max-width: 600px){
   
    nav{
        position: relative;
    }


    .links{
        display: none;
    
        
    }
    

    .active {
        display: block;
        
    }

    .menu{
     /* position: relative; */
     display: flex;
     justify-content: center;
     align-items: center;
    }

    

    #burger{
        /* position: absolute;
        top: 8px;
        left: -40px; */
        margin-right: 10px;
        display: block;
        color: grey;
    }

}